@import "mixins";
@import "colors";


.footer-hero {
    background-color: black;
    color: $gray;
    &:after {
    border-top: 30px solid white;
    border-left: 30px solid transparent; 
    border-right: 30px solid transparent; 
    top: 0px;
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -35px;
    width: 0; 
    height: 0;
    }
}

.footer-container {
    width: 80%;
    margin: auto;
    strong {
        text-transform: uppercase;
        color: white;
    }
    a {
        color: white;
        cursor: pointer;
        text-decoration: none;
        &:hover{
            color: $main-pink;
        }
    }
}

.salon-facebook {
    display: block;
    width: 100%;
    float: left;
}

.salon-info {
    width: 50%;
     float: left;
}

.salon-hours {
    width:  50%;
     float: left;
}

.copyright {
    border-top: solid $gray 1px;
}

@media screen and (max-width: 529px) {
    .salon-info,
    .salon-hours{
        width: 100%;
    }
}

@media (min-width: 530px) and (max-width: 999px) {
    .salon-info,
    .salon-hours{
        width: 100%;
    }
}
