@import "assets/mixins";
@import "assets/colors";
@import "assets/header";
@import "assets/container";
@import "assets/footer";

.hero {
    display: block;
    min-height: 100vh;
    background-color: $light-blue;
}

.hero-container, 
.program {
    display: block;
    position: relative;
    width: 80%;
    margin: auto;
}

.salon-quote {
    position: relative;
    display: inline-block;
    width: 50%;
    margin: auto;
    text-align: left;
    float: left;
    h3 {
        color: $main-pink;
        font-family: 'Cardo', serif;
        height: 3px;
    }
}

.email-form {
    display: inline-block;
    width: 50%;
    margin: auto;
}

form {
    width: 100%;
    max-width: 500px;
    margin: 25px auto;
    input, textarea {
        width: 100%;
        border: solid 1px rgba(0,0,0,0.3);
        padding: 5px;
        &:focus {
            border: solid 1px $main-pink;
        }
    }
    
    [type="submit"] {
        background-color: $main-pink;
        font-size: 18px;
        color: white;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        width: 100px;
        padding: 10px;
        cursor: pointer;
        border: none;
        &:hover {
            background-color: $accent-blue;
        }
    }

    
    textarea{
        height: 150px;
    }
    
    label {
        display: block;
        margin-bottom: 20px;
        span {
            display: block;
        }
    }
}

.contact-href {
    color: black;
    &:hover {
        color: $accent-blue;
        cursor: pointer;
    }
}

.map {
    width: 100%;
    margin: 60px auto 0 auto;
    border: none;
}

.footer-hero {
    &:after {
    border-top: 30px solid $light-blue;
    }
}

@media screen and (max-width: 529px) {
    .hero-container {
        width: 100%;
    }
    
    .program {
        width: 90%;
    }
    
    .salon-quote{
        width: 100%;
    }
    
    .email-form {
        width: 100%;
    }
    .map { 
        display: none;
    }
}



