*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import "mixins";
$letter-spacing: 0.06em;
$light-blue: #e4f1fe;
$beige: #f6f6f6;

html {
    min-height: 100%;
    min-width:  100%;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100%;
    width:  100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.nav {
    width: 100%;
    height: 80px;
    display: inline-block;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 200;
    
}

.logo {
    width: 238px;
    height: 58px;
    display: inline-block;
    background: url(../images/logo.png) center center no-repeat;
    background-size: cover;
    margin: 15px 0 0 20px;
}

.active-nav-list {
    border-bottom: solid 3px black;
    cursor: pointer;
}

.navlist {
    position: relative;
    display: block;
    float: right;
    margin-right: 30px;
}

.navlist ul {
    list-style: none;
    right: 0;
}

.navlist li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 20px;
    letter-spacing: 0.06em;
    color: black;
    line-height: 55px;
}

.navlist li:last-child {
    border-right: none;
}

.navlist li:hover {
    border-bottom: solid 3px black;
}

.hamburger {
    display: none;
    color: black;
    font-size: 40px;
    padding: 20px 20px 0 0;
    float: right;
    text-align: right;
}

.hamburger:hover {
    cursor: pointer;
}

.drop-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 0;
    margin-top: 20px;
    text-align: center;
}

.drop-ul {
    background-color: white;
    list-style:none;
    padding-left:0;
}

.drop-li {
    padding: 20px ;
}

.drop-link {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: black;
}

.drop-link:hover {
    color: black;
}

.clearfix {
    clear: both;
}

.hero {
    display: block;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: $light-blue;
    padding: 130px 0 10px 0;
    letter-spacing: $letter-spacing;
    line-height: 24px;
}

.hero-container {
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.program-list,
.inst-list{
    display: inline-block;
    position: relative;
    width: 100%;
    margin:  0 auto 100px auto;
    text-align: center;
}


.list {
    position: relative;
    display: inline-block;
    width: 280px;
    background-color: white;
    margin: auto;
    text-align: center;
    padding: 10px 30px 30px 30px;
    @include border-radius(5px);
    @include box-shadow(4px, 4px, 15px, -7px, rgba(87,86,87,1));
    @include transform(scale(0.9), translateY(3rem));
    @include transition(0.2s, 0.25s, ease-in-out);
}

.button-title {
    color: black;
}

.button {
    display: inline-block;
    position: relative;
    margin: 20px auto 0 auto;
    text-align: center;
    border: solid black 1px;
    width: 125px;
    &:hover {
        cursor: pointer;
        background-color: black;
        border: solid black 1px;
    }
}

.button:hover .button-title {
    color: white;
}

.button-link {
    text-decoration: none;
}

.contact-href {
    color: black;
    &:hover .ion {
        background-color: black;
        color: white;
        cursor: pointer;
    }
}

.contact-info {
    position: relative;
    display: block;
    width: 50%;
    text-align: left;
    padding: 20px 0;
    float: left;
}

.info {
    display: inline-block;
    width: 100%;
    opacity: 0;
    @include transform(scale(0.9), translateY(3rem));
    @include transition(0.2s, 0.25s, ease-in-out);
}

.show {
    opacity: 1;
    @include transform(scale(1), translateY(0));
}

.info-left {
    padding: 20px 0 0 0;
}

.fix {
    padding-top: 30px;
}

.ion {
    display: inline-block;
    text-align: center;
     font-size: 30px;
     background-color: white;
     color: black;
     border-radius: 50% 50%;
     display: inline-block;
     width: 55px;
     height: 55px;
     line-height: 55px;
     margin: 15px 30px 15px 0;
     float: left;
}

.map {
    float: right;
    width: 50%;
    margin: 60px auto;
    border: white solid 10px;
    @include border-radius(5px);
}

footer {
    position: relative;
    display: block;
    width: 100%;
    background-color: black;
    color:gray;
    padding: 50px 10px;
    letter-spacing: $letter-spacing;
    line-height: 24px;
}

.footer-content {
    width: 80%;
    margin: auto;
}

.footer-info {
    width: 50%;
     float: left;
}

.footer-hours {
    width:  50%;
     float: left;
}

.copyright {
    border-top: solid gray 1px;
}

@media screen and (max-width: 400px) {
    .hero-container {
        width: 100%;
    }
    .map { 
        display: none;
    }
    
}

@media screen and (max-width: 994px) {
     .logo {
    width: 218px;
    height: 48px;
    margin: 15px 0 0 0;
    }
    
    .navlist {
        display: none;
    }
    
    .hamburger {
        display: inline-block;
    }
    
    .hero {
        height: auto;
        padding-top: 60px;
    }
    
    .map {
        width: 100%;
    }
    
    .contact-info {
        width: 100%;
        text-align: center;
    }
    
    .ion {
        float: none;
        margin: 30px auto 0 auto;
    }
    
    .footer-info,
    .footer-hours{
        width: 100%;
    }
}

@media (min-width: 995px) and (max-width: 1140px) {
    .navlist li {
    padding: 0 8px;
}

    
}