@import "assets/mixins";
@import "assets/colors";
@import "assets/header";
@import "assets/container";
@import "assets/footer";

.hero {
    display: block;
    min-height: 100%;
    background-color: $light-blue;
}

.hero-container {
    display: block;
    position: relative;
    width: 80%;
    margin: auto;
    text-align: center;
}

.margin {
    display: block;
    width: 100%;
    position: relative;
    margin: 15px auto 60px auto;
}

.list {
    display: inline-block;
    position: relative;
    margin: 0 2px;
    text-align: center;
}

.list-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
        z-index: 200;
    }
}

.fade {
    opacity: 0.5;
}

.footer-hero {
    &:after {
    border-top: 30px solid $light-blue;
    }
}

@media screen and (max-width: 994px) {
    .hero-container {
        width: 95%;
        margin: auto;
    }
    
}