@import "assets/mixins";
@import "assets/colors";
@import "assets/header";
@import "assets/container";
@import "assets/footer";

.hero {
    display: block;
    min-height: 100%;
    background-color: $light-blue;
}

.hero-container {
    display: block;
    position: relative;
    width: 80%;
    margin: auto;
    text-align: center;
}

.footer-hero {
    &:after {
    border-top: 30px solid $light-blue;
    }
}