@import "assets/mixins";
@import "assets/colors";
@import "assets/header";
@import "assets/container";
@import "assets/footer";

.hero {
    display: block;
    min-height: 100%;
    background-color: $light-blue;
}

.hero-container {
    display: block;
    position: relative;
    width: 80%;
    margin: auto;
    text-align: center;
}

.margin {
    display: block;
    width: 100%;
    position: relative;
    margin: 15px auto 60px auto;
}

.list {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 300px;
    margin: 3px 3px;
    @include box-shadow(4px, 4px, 15px, -7px, rgba(87,86,87,1));
    text-align: center;
}

.list-image {
    width: 180px;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer-hero {
    &:after {
    border-top: 30px solid $light-blue;
    }
}

@media screen and (max-width: 994px) {
    .hero-container {
        width: 95%;
        margin: auto;
    }
    
}