*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0; }

.container {
  min-height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: black; }

.nav {
  width: 100%;
  height: 80px;
  display: inline-block;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 200; }

.logo {
  width: 238px;
  height: 58px;
  display: inline-block;
  background: url(../images/logo.png) center center no-repeat;
  background-size: cover;
  margin: 15px 0 0 20px; }

.navlist {
  position: relative;
  display: block;
  float: right;
  margin-right: 30px; }

.navlist ul {
  list-style: none;
  right: 0; }

.navlist li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 20px;
  letter-spacing: 0.06em;
  color: black;
  line-height: 55px; }

.navlist li:hover {
  border-bottom: solid 3px black; }

.hamburger {
  display: none;
  color: black;
  font-size: 40px;
  padding: 20px 20px 0 0;
  float: right;
  text-align: right; }

.hamburger:hover {
  cursor: pointer; }

.drop-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 0;
  margin-top: 20px;
  text-align: center; }

.drop-ul {
  background-color: white;
  list-style: none;
  padding-left: 0; }

.drop-li {
  padding: 20px; }

.drop-link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: black; }

.drop-link:hover {
  color: black; }

.promo {
  display: block;
  position: relative;
  width: 100%;
  height: 500px;
  padding: 80px 0 0 0;
  letter-spacing: 0.06em;
  line-height: 24px; }

.promo-middle {
  display: block;
  position: relative;
  height: inherit;
  width: 100%; }

.promo-slide {
  width: inherit;
  height: inherit; }

.promo1 {
  background: url(../images/promo-gradient.png) center center;
  background-size: cover; }

.promo2 {
  background: url(../images/promo-facebook.jpg) center center;
  background-size: cover; }

.slide-title {
  color: white; }

.slide-button {
  position: relative;
  width: 270px;
  margin: 20px auto 0 auto;
  text-align: center;
  border: solid white 1px; }

.slide-button:hover {
  cursor: pointer;
  background-color: white;
  border: solid white 1px;
  color: black; }

.slide-button:hover .slide-title {
  color: black; }

.slide-link {
  text-decoration: none; }

.slide {
  display: inline-block;
  color: white;
  text-align: center; }
  .slide h1 {
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    height: 20px; }
  .slide p {
    font-size: 24px;
    line-height: 24px; }

.slide1 {
  width: 70%;
  margin: 20px auto auto auto; }

.slide2 {
  width: 600px;
  float: right;
  margin: 20px 150px; }

.button-title {
  color: black; }

.button {
  position: relative;
  width: 270px;
  margin: 20px auto 0 auto;
  text-align: center;
  border: solid black 1px; }

.button:hover {
  cursor: pointer;
  background-color: white;
  border: solid white 1px; }

.button-link {
  text-decoration: none; }

.slider-nav {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  color: black;
  font-weight: 100;
  z-index: 200; }

.arrow-prev,
.arrow-next {
  display: inline-block;
  color: black;
  font-size: 30px; }

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0; }

.dot {
  color: rgba(0, 0, 0, 0.3);
  display: inline;
  font-size: 30px;
  margin-right: 5px;
  padding: 0 20px; }

.dot.active-dot {
  color: black; }

.selling-points {
  width: 100%;
  display: inline-block;
  position: relative;
  background-color: white;
  padding: 60px 0;
  letter-spacing: 0.06em;
  line-height: 24px;
  text-align: center; }

.points {
  position: relative;
  width: 80%;
  margin: auto; }

.why {
  position: relative;
  width: 65%;
  float: left;
  padding: 0 50px;
  text-align: justify; }

h1 {
  text-align: center; }

.mission {
  position: relative;
  width: 35%;
  float: left;
  padding: 0 50px;
  text-align: justify; }

.program {
  position: relative;
  width: 100%;
  background-color: #e4f1fe;
  padding: 60px 0;
  letter-spacing: 0.06em;
  line-height: 24px;
  text-align: center; }

.program:after {
  border-top: 30px solid white;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: 0px;
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -35px;
  width: 0;
  height: 0; }

.program-list,
.inst-list {
  position: relative;
  width: 80%;
  margin: auto;
  text-align: center; }

.list-comb {
  display: block;
  width: 50%;
  float: left; }

.list {
  position: relative;
  display: block;
  float: left;
  width: 23%;
  height: 320px;
  background-color: white;
  margin: 30px 10px 30px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px 30px 30px;
  -webkit-box-shadow: 4px 4px 15px -7px #575657;
  -moz-box-shadow: 4px 4px 15px -7px #575657;
  box-shadow: 4px 4px 15px -7px #575657;
  text-align: left;
  opacity: 0;
  transform: scale(0.9) translateY(3rem);
  -webkit-transform: scale(0.9) translateY(3rem);
  -moz-transform: scale(0.9) translateY(3rem);
  transition: 0.2s 0.25s ease-in-out;
  -webkit-transition: 0.2s 0.25s ease-in-out;
  -moz-transition: 0.2s 0.25s ease-in-out; }

.show {
  opacity: 1;
  transform: scale(1) translateY(0);
  -webkit-transform: scale(1) translateY(0);
  -moz-transform: scale(1) translateY(0); }

.clearfix {
  clear: both; }

.instructor {
  position: relative;
  width: 100%;
  background-color: #f6f6f6;
  padding: 60px 0 40px 0;
  letter-spacing: 0.06em;
  line-height: 24px;
  text-align: center; }

.instructor:after {
  border-top: 30px solid #e4f1fe;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: 0px;
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -35px;
  width: 0;
  height: 0; }

.inst-container {
  position: relative;
  display: block;
  margin: 30px auto;
  float: left;
  width: 50%;
  text-align: justify;
  padding: 1px 40px 20px 40px; }

.inst-title {
  text-align: center; }

.subtitle {
  font-weight: 400;
  font-style: italic; }

.pic {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  background-color: pink;
  border: solid white 3px; }

.inst1 {
  background: url(../images/instructor1.png) center center no-repeat;
  background-size: cover; }

.inst2 {
  background: url(../images/instructor2.png) center center no-repeat;
  background-size: cover; }

.inst3 {
  background: url(../images/instructor3.png) center center no-repeat;
  background-size: cover; }

.reviews {
  position: relative;
  display: block;
  width: 100%;
  min-height: 300px;
  background-color: white;
  padding: 60px 0 40px 0;
  letter-spacing: 0.06em;
  line-height: 24px;
  text-align: center; }

.reviews:after {
  border-top: 30px solid #f6f6f6;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: 0px;
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -35px;
  width: 0;
  height: 0; }

.reviews-container {
  position: relative;
  width: 80%;
  margin: auto;
  font-size: 24px;
  line-height: 36px; }
  .reviews-container h3 {
    font-size: 16px; }

.quote {
  font-size: 36px; }

footer {
  position: relative;
  display: block;
  width: 100%;
  background-color: black;
  color: gray;
  padding: 50px 10px;
  letter-spacing: 0.06em;
  line-height: 24px; }
  footer:after {
    border-top: 30px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: 0px;
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -35px;
    width: 0;
    height: 0; }

.footer-content {
  width: 80%;
  margin: auto; }

.footer-info {
  width: 50%;
  float: left; }

.footer-hours {
  width: 50%;
  float: left; }

.copyright {
  border-top: solid gray 1px; }

@media screen and (max-width: 529px) {
  .logo {
    width: 218px;
    height: 48px;
    margin: 15px 0 0 0; }

  .navlist {
    display: none; }

  .hamburger {
    display: inline-block; }

  .slide1 {
    width: 100%; }

  .slide2 {
    margin: 20px auto;
    width: 300px; }

  .slide h1 {
    font-size: 36px;
    color: black; }
  .slide p {
    color: black; }
  .slide .slide-button {
    border: solid black 1px; }
  .slide .slide-title {
    color: black; }
    .slide .slide-title:hover {
      color: black; }
  .slide .slide-button:hover {
    cursor: pointer;
    background-color: white;
    border: solid white 1px; }

  .points,
  .why,
  .mission {
    width: 100%;
    padding: 15px; }

  .list {
    margin: 10px 10px;
    height: auto;
    width: 100%; }

  .inst-container {
    width: 100%;
    padding: 1px 0px 20px 0px; }

  .reviews-container {
    font-size: 16px; }

  .footer-info,
  .footer-hours {
    width: 100%; } }
@media (min-width: 530px) and (max-width: 999px) {
  .logo {
    width: 218px;
    height: 48px;
    margin: 15px 0 0 0; }

  .navlist {
    display: none; }

  .hamburger {
    display: inline-block; }

  .slide1 {
    width: 100%; }

  .slide2 {
    margin: 20px 0; }

  .points {
    width: 80%; }

  .why,
  .mission {
    width: 100%;
    padding: 15px; }

  .inst-container {
    width: 100%;
    padding: 1px 0px 20px 0px; }

  .list {
    margin: 10px 10px;
    height: auto;
    width: 100%; }

  .reviews-container {
    font-size: 16px; }

  .footer-info,
  .footer-hours {
    width: 100%; } }
@media (min-width: 1000px) and (max-width: 1260px) {
  .navlist li {
    padding: 0 8px; }

  .slide2 {
    margin: 20px 0; }

  .points {
    width: 80%; }

  .why {
    width: 60%; }

  .mission {
    width: 40%; }

  .program-list,
  .inst-list {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
