header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  font-size: 14px;
  z-index: 200;
  border-bottom: solid 1px #a8adb0; }

.navbar {
  display: block;
  position: relative;
  width: 80%;
  height: 80px;
  margin: auto; }

.logo {
  display: inline-block;
  position: relative;
  width: 218px;
  height: 55px;
  margin: 13px 0 13px 10px;
  background: url(../images/logo.jpg) center center no-repeat;
  background-size: cover; }

.navlist {
  position: relative;
  display: block;
  float: right; }
  .navlist ul {
    list-style: none; }
    .navlist ul li {
      display: inline-block;
      text-transform: uppercase;
      padding: 0 10px;
      letter-spacing: 0.06em;
      color: black;
      line-height: 55px; }

.active-nav-list {
  border-bottom: solid 2px #ef626f; }

.hamburger {
  display: none;
  color: black;
  font-size: 40px;
  padding: 20px 20px 0 0;
  float: right;
  text-align: right; }
  .hamburger:hover {
    cursor: pointer; }

.drop-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 0;
  margin-top: 30px;
  text-align: center; }
  .drop-menu ul {
    background-color: white;
    list-style: none;
    padding-left: 0; }
    .drop-menu ul li {
      padding: 20px; }
    .drop-menu ul a {
      text-decoration: none;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      color: black; }
      .drop-menu ul a:hover {
        color: black; }

@media screen and (max-width: 529px) {
  .navbar {
    width: 100%; }
    .navbar .navlist {
      display: none; }

  .hamburger {
    display: inline-block; } }
@media (min-width: 530px) and (max-width: 880px) {
  .navlist {
    display: none; }

  .hamburger {
    display: inline-block; } }
@media (min-width: 530px) and (max-width: 1040px) {
  .navbar {
    width: 95%; } }
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0; }

.container {
  min-height: 100%;
  width: 100%;
  padding-top: 80px;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  line-height: 24px; }

h1 {
  font-family: 'Cardo', serif;
  line-height: 36px;
  font-weight: 300; }

h3 {
  font-weight: 300; }

.italic {
  font-style: italic; }

.blue-line {
  border-bottom: solid 1px #7ac6cc; }

.clearfix {
  clear: both; }

.main-hero {
  position: relative;
  width: 100%;
  padding: 60px 10px; }

@media screen and (max-width: 529px) {
  .main-hero {
    padding: 30px 0; } }
.footer-hero {
  position: relative;
  width: 100%;
  padding: 30px 10px 15px 10px;
  background-color: black;
  color: #a8adb0; }

.footer-container {
  width: 80%;
  margin: auto; }
  .footer-container strong {
    text-transform: uppercase;
    color: white; }
  .footer-container a {
    color: white;
    cursor: pointer; }
    .footer-container a:hover {
      color: #ef626f; }

.salon-facebook {
  display: block;
  width: 100%;
  float: left;
  padding-bottom: 20px;
  font-size: 30px; }

.salon-info {
  width: 50%;
  float: left; }

.salon-hours {
  width: 50%;
  float: left; }

.copyright {
  border-top: solid #a8adb0 1px; }

@media screen and (max-width: 529px) {
  .salon-info,
  .salon-hours {
    width: 100%; } }
@media (min-width: 530px) and (max-width: 999px) {
  .salon-info,
  .salon-hours {
    width: 100%; } }
.hero {
  display: block;
  min-height: 100vh;
  background-color: #e4f1fe; }

.hero-container {
  display: block;
  position: relative;
  width: 80%;
  margin: auto;
  background: url(../images/promo-banner3.png) center center no-repeat;
  background-size: cover;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 15px -7px #575657;
  -moz-box-shadow: 4px 4px 15px -7px #575657;
  box-shadow: 4px 4px 15px -7px #575657; }

.list1 {
  position: relative;
  display: block;
  width: 100%;
  color: black;
  text-align: left;
  padding: 30px 60px; }

.big {
  font-size: 36px;
  line-height: 36px; }

.footer-hero:after {
  border-top: 30px solid #e4f1fe; }

@media screen and (max-width: 529px) {
  .hero-container {
    width: 95%; }

  .list1 {
    padding: 10px 25px; } }

/*# sourceMappingURL=promotion.css.map */
