@import "assets/mixins";
@import "assets/colors";
@import "assets/header";
@import "assets/container";
@import "assets/footer";

.hero {
    display: block;
    min-height: 100vh;
    background-color: $light-blue;
}

.hero-container {
    display: block;
    position: relative;
    width: 80%;
    margin: auto;
}

.list1 {
    position: relative;
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    background: url(../images/promo-simple.jpg) center center no-repeat;
    background-size: cover;
    padding: 30px 10px;
    @include border-radius(5px);
    @include box-shadow(4px, 4px, 15px, -7px, rgba(87,86,87,1));
}

.big {
    font-size: 36px;
    line-height: 36px;
}

.footer-hero {
    &:after {
    border-top: 30px solid $light-blue;
    }
}

@media screen and (max-width: 529px) {
     .hero-container {
        width: 95%;
    }
    
}

