*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@import "stateboard";
@import "mixins";
$letter-spacing: 0.06em;
$light-blue: #e4f1fe;
$beige: #f6f6f6;

html {
    min-height: 100%;
    min-width:  100%;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100%;
    width:  100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.nav {
    width: 100%;
    height: 80px;
    display: inline-block;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 200;
    
}

.logo {
    width: 238px;
    height: 58px;
    display: inline-block;
    background: url(../images/logo.png) center center no-repeat;
    background-size: cover;
    margin: 15px 0 0 20px;
}

.navlist {
    position: relative;
    display: block;
    float: right;
    margin-right: 30px;
}

.navlist ul {
    list-style: none;
    right: 0;
}

.navlist li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 20px;
    letter-spacing: 0.06em;
    color: black;
    line-height: 55px;
}

.navlist li:last-child {
    border-right: none;
}

.navlist li:hover {
    border-bottom: solid 3px black;
}

.hamburger {
    display: none;
    color: black;
    font-size: 40px;
    padding: 20px 20px 0 0;
    float: right;
    text-align: right;
}

.hamburger:hover {
    cursor: pointer;
}

.drop-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 0;
    margin-top: 20px;
    text-align: center;
}

.drop-ul {
    background-color: white;
    list-style:none;
    padding-left:0;
}

.drop-li {
    padding: 20px ;
}

.drop-link {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: black;
}

.drop-link:hover {
    color: black;
}

.clearfix {
    clear: both;
}

.hero {
    display: block;
    position: relative;
    width: 100%;
    background-color: $light-blue;
    padding: 130px 0 10px 0;
    letter-spacing: $letter-spacing;
    line-height: 24px;
    text-align: center;
}

.hero-container {
    display: block;
    position: relative;
    width: 80%;
    margin: 60px auto;
    background-color: white;
    @include border-radius(5px);
}

.board-link {
    text-decoration: none;
    color: black;
    letter-spacing: $letter-spacing;
    line-height: 24px;
    text-transform: uppercase;
}

.state-nav {
    display: block;
    position: relative;
}

.board-nav {
    display: block;
    float: left;
    width: 25%;
    height: 70px;
    background-color: $light-blue;
    padding-top: 10px;
    border: solid white 1px;
    &:hover {
        cursor: pointer;
        background-color: white;
    }
}

.board-nav2 {
    padding-top: 22px;
}

.active-nav {
    background-color: white;
    pointer-events: none;
   cursor: pointer;
}

footer {
    position: relative;
    display: block;
    width: 100%;
    background-color: black;
    color:gray;
    padding: 50px 10px;
    letter-spacing: $letter-spacing;
    line-height: 24px;
}

.footer-content {
    width: 80%;
    margin: auto;
}

.footer-info {
    width: 50%;
     float: left;
}

.footer-hours {
    width:  50%;
     float: left;
}

.copyright {
    border-top: solid gray 1px;
}

@media screen and (max-width: 400px) {
    
    .hero-container {
        width: 100%;
    }
}

@media screen and (max-width: 840px) {
    .board-nav {
    width: 100%;
    }
}


@media screen and (max-width: 994px) {
     .logo {
    width: 218px;
    height: 48px;
    margin: 15px 0 0 0;
    }
    
    .navlist {
        display: none;
    }
    
    .hamburger {
        display: inline-block;
    }
    
    .footer-info,
    .footer-hours{
        width: 100%;
    }
}

@media (min-width: 995px) and (max-width: 1140px) {
    .navlist li {
    padding: 0 8px;
}

.hero-container {
        width: 90%;
    }
    
}